#contact_modal:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    backdrop-filter: brightness(60%);
    z-index: 1;
}

.contact_modal {
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;

    background-color: #DB8876;
    width: 40%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.contact_modal header {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.contact_modal header img {
    cursor: pointer;
}

.contact_modal header h2 {
    font-size: 50px;
    font-weight: normal;
    text-align: left;
    flex-wrap: wrap;
    padding: 10px;
    overflow-wrap: wrap;
}

.contact_modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.formData {
    width: 100%;
}

.contact_modal form label {
    color: #312E2E;
    font-size: 1.6rem;
    margin-top: 5px;
    margin-bottom: 2px;
}

.contact_modal form input {
    width: 100%;
    height: 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
}

.contact_modal form input[name="message"] {
    height: 6rem;
}

.contact_modal form .contact_button {
    margin-top: 20px;
    width: 40%;
    height: 3em;
}