@import url("contactModal.css");
@import url("lightbox.css");

#contact_modal, #lightbox_modal {
    display: none;
}

main {
    margin: 0 100px;
}

/* Photographer header */
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.photographer-presentation {
    height: 100%;
}

.photographer-presentation h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;

    color: #D3573C;
}

.photographer-presentation h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;

    color: #901C1C;
}

.photographer-presentation p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    
    color: #525252;
}

.photograph-header img {
    border-radius: 50%;
    object-fit: cover;
    height: 15em;
    aspect-ratio: 1/1;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact_button:focus {
    outline: 5px solid #DB8876;
}

/* Photographer media */
#photographer-portfolio {
    margin-top: 80px;
}

/* Portfolio figures */
#portfolio {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#portfolio figure {
    width: 25%;
}

#portfolio figure img,
#portfolio figure video {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
}

#portfolio figure img:focus,
#portfolio figure video:focus {
    outline: 2px solid #901C1C;
}

#portfolio figure figcaption {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #911C1C;
    
    align-items: center;
}

#portfolio figure figcaption h2 {
    margin: 0;
    white-space: pre-wrap;
}

#portfolio figure figcaption p {
    white-space: nowrap;
    margin-left: 10px;

    font-weight: 700;
    font-size: 20px;
}

#portfolio figure figcaption p i {
    margin-left: 5px;
    cursor: pointer;
}

#portfolio figure figcaption p i:focus {
    outline: 3px solid #DB8876;
    padding: 3px;
    border-radius: 25px;
}

/* Photographer likes */
.photographer-likes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2px 30px;

    position: fixed;
    bottom: 0;
    right: 50px;
    width: 300px;
    height: 70px;

    background: #DB8876;
    border-radius: 5px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.photographer-likes i {
    margin: 0 5px;
}

/* Filtre */
.tri {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 280px;
    margin-left: 50px;
    margin-top: 1em;
}

.tri > p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

#filtre {
    display: block;
    background-color: #911C1C;
    color: #FFF;
    border-radius: 5px;
    justify-content: center;
    z-index: 10;
}

#filtre > div {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    padding: 20px;
    padding-right: 70px;
    z-index: 50;
    cursor: pointer;
}

#filtre > img:first-child {
    float: right;
    margin: auto;
    padding: 25px 15px;
    cursor: pointer;
}

#filtre > img:not(:first-child) {
    margin: 0 10px;
}