#contact_modal {
    display: none;
}

main {
    margin: 0 100px;
}

/* Photographer header */
.photograph-header {
    background-color: #FAFAFA;
    height: 300px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}

.photographer-presentation {
    height: 100%;
}

.photographer-presentation h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;

    color: #D3573C;
}

.photographer-presentation h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;

    color: #901C1C;
}

.photographer-presentation p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    
    color: #525252;
}

.photograph-header img {
    border-radius: 50%;
    object-fit: cover;
    width: 20%;
    height: 70%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* Photographer media */
.photographer-media {
    margin-top: 20px;
}
/* Filter menu */
.photographer-media form label {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin-right: 10px;
}

.photographer-media form select {
    background: #911C1C;
    border-radius: 5px;
    color: white;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

/* Portfolio figures */
.photographer-portfolio {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photographer-portfolio figure {
    width: 25%;
}

.photographer-portfolio figure img {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    object-fit: cover;
    overflow: hidden;    
}

.photographer-portfolio figure video {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 20px;
    object-fit: cover;
    overflow: hidden;
}

.photographer-portfolio figure figcaption {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: #911C1C;
    
    align-items: center;
}

.photographer-portfolio figure figcaption h2 {
    margin: 0;
    white-space: pre-wrap;
}

.photographer-portfolio figure figcaption p {
    white-space: nowrap;
    margin-left: 10px;

    font-weight: 700;
    font-size: 20px;
}

.photographer-portfolio figure figcaption p i {
    margin-left: 5px;
}

/* Photographer likes */
.photographer-likes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 2px 30px;

    position: fixed;
    bottom: 0;
    right: 50px;
    width: 300px;
    height: 70px;

    background: #DB8876;
    border-radius: 5px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.photographer-likes i {
    margin: 0 5px;
}

/* Modal */
#contact_modal:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(60%);
    z-index: 1;
}

.modal {
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;

    background-color: #DB8876;
    width: 40%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    overflow-y: auto;
}

.modal header {
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 70px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 50px;
    font-weight: normal;
    text-align: left;
    flex-wrap: wrap;
    padding: 10px;
    overflow-wrap: wrap;
}

.modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.modal form label {
    color: #312E2E;
    font-size: 36px;
}

.modal form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}